body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(96, 108, 113);
}

.main-btn {
  width: 10em;
  height: 2em;
  padding: 0.25em 0.5em;
  border: 1px solid rgb(171,207,205);
  font-size: 1em;
  color: rgb(171,207,205);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.041);
}

header main {
  display: block;
}

.main-header {
  padding: 2em 1em;
  text-align: center;
  overflow: hidden;
  background-color: rgb(21, 146, 93);
  background-image: linear-gradient(to right, rgb(21, 90, 150), rgb(21, 146, 93));
}

.proj-name {
  font-size: 2em;
  color: white;
  font-weight: bold;
  margin-top: 2em;
}

.proj-desc {
  font-size: 1.5em;
  color: rgb(171,207,205);
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1.5em;
}


.main-content {
  padding: 2rem 1rem;
  word-wrap: break-word;
}

@media screen and (min-width: 992px) {
  .main-content {
    max-width: 1200px;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 991px) and (min-width: 768) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 767px) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}

.main-content :first-child {
  margin-top: 0;
}

.main-content p {
  margin-bottom: 1em;
}

.main-content img {
  max-width: 100%;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: rgb(21, 153, 87);
}

a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.main-content blockquote > :first-child {
    margin-top: 0;
}

.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
}